body {
  background-color: rgb(239, 237, 241);
  font-family: Arial, Helvetica, sans-serif;
}

.continer {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-size: 33px;
  font-weight: 800px;
  line-height: 1, 5px;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;

  display: flex;
  margin-bottom: 30px;
}

.quistion {
  padding: 15px;
  border-radius: 40px;
  width: 75%;
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  font-size: 13px;
  color: black;
}

.submit {
  margin-left: 10px;
  padding: 15px;
  border-radius: 40px;
  width: 120px;
  background-color: rgb(170, 93, 241);
  border: 1px solid purple;
  color: white;
}

.form {
  background-color: white;
  border-left: 3px solid purple;
  font-size: 20px;
  line-height: 40px;
  padding: 20px;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
